@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.container{
  max-width: 1040px;
  padding: 0 20px;
  margin: auto;
  overflow: hidden;
}
.react-multiple-carousel__arrow {
  background: black !important;
}
/* .react-multiple-carousel__arrow--right  */
 /* react-multiple-carousel__arrow--left  */
.react-multi-carousel-list{
  border-radius: 20px;
}