.cardLocation {
  margin-bottom: 20px;
}
.noWork {
  color: orange;
}
.isOpen {
  color: rgb(250, 194, 90);
}

@media (max-width: 1000px) {
  .cardLocation {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
}
