.cardLocation {
  margin-bottom: 20px;
  display: block;
}
.noWork {
  color: orange;
}
.isOpen {
  color: rgb(250, 194, 90);
}

@media (max-width: 1000px) {
  .cardLocation {
    margin-bottom: 20px;
  }
}
