.formButton {
  margin-top: 15px;
  color: white;
  background: #18653d;
  width: 100px;
  height: 50px;
  border-radius: 20px;
}

.close {
  background: white;
  border-radius: 50px;
  position: absolute;
  cursor: pointer;
  right: -5px;
  top: -5px;
}
.buttonPosition {
  display: inline-block;
  width: auto;
  margin-left: 15px;
}
.selectList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectList select {
  margin-bottom: 10px;
}
.selectList label {
  margin-bottom: 10px;
}
.mt{
  top: 100px;
}