.bestList {
  display: grid;
  grid-template-columns: 240px 240px 240px 240px;
  justify-content: center;
}


@media (max-width: 1000px) {
  .bestList {
    grid-template-columns: 240px 240px 240px;
  }
}
@media (max-width: 750px) {
  .bestList {
    grid-template-columns: 240px  240px;
  }
}
@media (max-width: 500px) {
  .bestList {
    grid-template-columns: 240px  ;
  }
}
