.bestList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

@media (max-width: 1000px) {
  .bestList {
    grid-template-columns: repeat(3, 240px);
  }
}
@media (max-width: 750px) {
  .bestList {
    grid-template-columns: repeat(2, 240px);
  }
}
@media (max-width: 500px) {
  .bestList {
    grid-template-columns: repeat(1, 240px);
  }
}
