.ListCard {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  justify-items: start;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .ListCard {
    max-width: 780px;
    grid-template-columns: repeat(3, 220px);
  }

}
@media (max-width: 800px) {
  .ListCard {
    max-width: 520px;
    grid-template-columns: repeat(2, 220px);
  }
}
@media (max-width: 520px) {
  .ListCard {
    justify-items: center;
    text-align: center;
    grid-template-columns: repeat(1 , 1fr);
  }
}
