.formProduct {
  box-shadow: 0px 0px 10px 10px #c7c7c7;
  background: white;
  outline: none;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.wrapper {
  width: 300px;
  left: 0;
  right: 0;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
}
.formButton {
  margin-top: 15px;
  color: white;
  background: #18653d;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  
}
.formProduct input {
  margin-bottom: 15px;
}
.formProduct select {
  background: #f7f7f7;
  border-radius: 5px;
  margin: 0 10px;
}
.close {
  background: white;
  border-radius: 50px;
  position: absolute;
  cursor: pointer;
  right: -5px;
  top: -5px;
}
.buttonPosition{
  position: absolute;
  top: 0;
  left: 150px;
}