.product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.productWrapper {
  background: white;
  max-height: 500px;
  overflow-y: scroll;
  padding-right: 10px;
}
.wrapperPrise {
  display: flex;
}
.wrapperPrise__Prise {
  margin: 0 10px;
}
.pointer {
  cursor: pointer;
}
.wrapperImgName {
  display: flex;
  align-items: center;
}
.wrapperImgName img {
  border-radius: 10px;
  margin-right: 10px;
}
.paygreen {
  margin: 20px 0;
  color: #17673e;
  text-align: center;
}
.pay {
  display: flex;
  align-items: center;
  justify-content: end;
}
.sum {
  margin-right: 20px;
}
