.item {
  position: relative;
  max-width: 200px;
  margin: 0 auto;
}
.text {
  position: absolute;
  top: 120px;
  color: green;
  background: white;
  text-align: center;
  left: 20px;
  right: 20px;
  border-radius: 10px;
}
